<ion-header>
  <ion-toolbar>
    <ion-title>View Address</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="full">
    <ion-label position="floating">Address</ion-label>
    <ion-input [(ngModel)]="address.address_1" type="text" (change)="validate()"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">City</ion-label>
    <ion-input [(ngModel)]="address.city" type="text" (change)="validate()"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">State</ion-label>
    <ion-input [(ngModel)]="address.state" type="text" (change)="validate()"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Pincode</ion-label>
    <ion-input [(ngModel)]="address.pincode" type="number" (change)="validate()"></ion-input>
  </ion-item>
  <h5> Address Type </h5>
  <ion-radio-group [(ngModel)]="address.type">
    <ion-row class="ion-text-center">
      <ion-col size="4">
        <div class="address-type-grid" >
          <ion-radio slot="start" value="Home"></ion-radio>
          <ion-label>Home</ion-label>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="address-type-grid" >
          <ion-radio slot="start" value="Office"></ion-radio>
          <ion-label>Office</ion-label>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="address-type-grid" >
          <ion-radio slot="start" value="Other"></ion-radio>
          <ion-label>Other</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-radio-group>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="ion-padding-start ion-padding-end">
    <ion-button class="round-corner-btn" color="main" (click)="saveAddress()" [disabled]="disableBtn">
      Save Address
    </ion-button>
  </ion-toolbar>
</ion-footer>