<ion-content [fullscreen]="true">
  <app-laptop-view *ngIf="category_id == '2'"></app-laptop-view>
  <app-product-view *ngIf="category_id != '2' && category_id != '12'"></app-product-view> 
  <app-vehicle-view *ngIf="category_id == '12'"></app-vehicle-view> 
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="ion-padding-start ion-padding-end">
    <ion-button class="round-corner-btn" color="main" (click)="gotoQuestion()" *ngIf="category_id != 12">
      Get Exact Price
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
    <ion-button class="round-corner-btn" color="main" (click)="gotoVehicleDocument()" *ngIf="category_id == 12">
      Book Appointment
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
