<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ product.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product-view" >
    <ion-row class="ion-text-center">
      <ion-col size="5">
        <div>
          <img src="https://bikriworld.com/administrator/public/images/{{ product.image }}" />      
        </div>
      </ion-col>
      <ion-col size="7">
        <ion-label>
          <h2> {{product.name }} </h2>
        </ion-label>
        <div class="product-variation" >
          <ion-button color="main" shape="round" fill="outline">6 GB | 128 GB</ion-button>
          <ion-button color="main" shape="round" fill="outline">6 GB | 128 GB</ion-button>
          <ion-button color="main" shape="round" fill="outline">6 GB | 128 GB</ion-button>
        </div>
        <h4> Get Upto </h4>
        <h2 style="margin-top: 0;">  ₹ 33000/- </h2>
        
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-button expand="block"  size="large" color="main"  fill="solid" class="getPrice">
      Get exact value
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>