.product-view {
    background: #eee;
    padding: 10px;
    margin: 25px 8px;
    border-radius: 10px;
    h2 {
        color: #2caa85;
        font-size: 21px;
        font-weight: 700;
    }
}

.product-variation {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    span.variant {
        display: block;
        border: 1px solid #2caa85;
        margin: 10px 0;
        padding: 4px;
        border-radius: 13px;
    }
}

ion-button{
    color: #fff;
    ion-icon{
        color: #fff;
    }
}
