<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ product.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product-view" >
    <ion-row class="ion-text-center">
      <ion-col size="5">
        <div>
          <img src="https://bikriworld.com/administrator/public/images/{{ product.image }}" />      
        </div>
      </ion-col>
      <ion-col size="7">
        <ion-label>
          <h2> {{ product.name }} </h2>
        </ion-label>
        <div class="product-variation" >
          <ion-button class="variant" color="main" shape="round" fill="outline" *ngFor="let variant of variants | keyvalue" (click)="setVariant(variant.value)"> 
           {{ variant.value['ram'] }} | {{ variant.value['storage'] }}
          </ion-button>
        </div>
        <h4> Get Upto </h4>
        <h2 style="margin-top: 0;">  ₹ {{maxPrice}}/- </h2>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="ion-padding-start ion-padding-end">
    <ion-button class="round-corner-btn" color="main" (click)="gotoQuestion()" [disabled]="disableBtn">
      Get Sell Price
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>