.order_wraper {
    margin: 10px 0;
    padding: 11px;
    box-shadow: 0px 1px 8px 1px rgb(204 212 229 / 54%);
    border-radius: 10px;
    .order_status{
        background-color:#00986b;
        color: #fff;
        padding: 0.5rem;
    }
    
    h5 {
        margin: 0;
    }
    h6 {
        font-size: 15px;
        font-weight: 400;
        color: #464646;
        .summary_label {
            font-weight: 600;
            color: #262626;
        }
    }
}