<ion-header>
  <ion-toolbar>
    <ion-title>Bank Account Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Account Holder Name</ion-label>
    <ion-input [(ngModel)]="bankAccount.account_holder_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">IFSC Code</ion-label>
    <ion-input [(ngModel)]="bankAccount.ifsc_code" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Bank Name</ion-label>
    <ion-input [(ngModel)]="bankAccount.bank_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Account Number</ion-label>
    <ion-input [(ngModel)]="bankAccount.account_no"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" [(ngModel)]="confirmAccount" name="confirmAccount" ngDefaultControl (keyup)="checkValiation()" >Confirm Account Number</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-button expand="block" size="medium" color="main" (click)="saveBankAccount()" [disabled]="disableBtn" >Save Account</ion-button>

</ion-content>
