<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Model To Sell</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="end" name="search-circle" size="large" (click)="goToSearch('product')" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size="4" *ngFor="let product of products" (click)="viewProduct(product.id)">
      <div class="product-grid" >
        <div class="image_wrap">
          <img style="width: 80px;" src="{{mediaUrl}}{{ product.image }}" />
        </div>
        
        <ion-label>
          <h2 class="product_label"> {{ product.name }} </h2>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
