.product-grid{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px #3ead8c85;
    .image_wrap{
        margin-bottom:10px;
        height: 95px;
        img {
            width: 80px;
            max-width: 100%;
            border: 0;
            height: 95px;
        }
    }
}