<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Address</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="end" name="home" size="large" [routerLink]="['/']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="main" fill="outline" expand="block" (click)="modalViewAddress()">
    Add new Address
  </ion-button>
  <ion-radio-group [(ngModel)]="selected_address">
    <ion-row class="address_wraper" *ngFor="let address of addresses">
      <ion-col size="12">
        <ion-item >
          <ion-radio slot="start" value="{{address.id}}" id="address_{{address.id}}" (click)="selectAddress(address.id)"></ion-radio>
          <label class="labels" for="address_{{address.id}}">
            <h5> {{address.address_1}}, {{address.city}} {{ address.state }}, {{ address.pincode }} </h5>
            <h5> Type : {{address.type}} </h5>
          </label>
        </ion-item>  
      </ion-col>
      <ion-col size="12" >
        <div class="options ion-margin-start" >
          <ion-router-link color="primary" class="option" (click)="modalViewAddress(address.id)" >Edit</ion-router-link>
          <ion-router-link color="danger" class="option" (click)="confirmDelete(address.id)" >Delete</ion-router-link>
        </div>
      </ion-col>
    </ion-row>
  </ion-radio-group>
</ion-content>

