<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title >Select Brand To Sell</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="end" name="search-circle" size="large" (click)="goToSearch('brand')" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size="4" *ngFor="let brand of brands" (click)="goToProducts(brand.id)">
      <div class="brand-grid" >
        <img src="{{mediaUrl}}{{ brand.image }}" />
        <ion-label>
          <h2 class="product_label"> {{ brand.name }} </h2>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
