<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title >Select Brand To Sell</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size="4" *ngFor="let brand of brands" (click)="goToProducts(brand.id)">
      <div class="category-grid" >
        <img src="https://bikriworld.com/administrator/public/images/{{ brand.image }}" />
        <ion-label>
          <h2 class="product_label"> {{ brand.name }} </h2>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
