<ion-header>
  <ion-toolbar>
    <ion-title>brands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col size="4">
      <div class="category-grid" >
        <img src="https://bikriworld.com/administrator/public/images/brand/apple_logo_1649875281.png" />
        <ion-label>
          <h2> Apple </h2>
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="category-grid" >
        <img src="https://bikriworld.com/administrator/public/images/brand/asus_logo_1649852464.png" />
        <ion-label>
          <h2> Sumgsung </h2>
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="category-grid" >
        <img src="https://bikriworld.com/administrator/public/images/brand/blackberry_logo_1652419050.png" />
        <ion-label>
          <h2> Micromox </h2>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
