<ion-header>
  <ion-toolbar>
    <ion-title>Select Payment Options</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-list>
      <ion-radio-group [(ngModel)]="paymentOption">
        <ion-list-header>
          <ion-label>Payment you want to recive</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>
            Bank Transfar
            <p>Provide your bank account details</p>
          </ion-label>  
          <ion-radio slot="start" color="main" value="Bank Transfar" (click)="changePaymentOption('Bank Transfar')"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>
            UPI
            <p>Add a verified UPI id</p>
          </ion-label>
          <ion-radio slot="start" color="main" value="Upi" (click)="changePaymentOption('Upi')" ></ion-radio>
        </ion-item>   

        <ion-item>
          <ion-label class="ion-text-wrap">
            Mobile Transfar
            <p slot="content">Add mobile number which connected to UPI</p>
          </ion-label>
          <ion-radio slot="start" color="main" value="Online Payment" (click)="changePaymentOption('Online Payment')"></ion-radio>
        </ion-item>  

        <ion-item>
          <ion-label class="ion-text-wrap">
            Instant Cash
            <p slot="content">Signature on payment recive invoice </p>
          </ion-label>
          <ion-radio slot="start" color="main" value="Cash on pickup" (click)="changePaymentOption('Cash on pickup')"></ion-radio>
        </ion-item>  
      </ion-radio-group>
    </ion-list>
  </ion-content>
  <ion-footer collapse="fade">
    <ion-toolbar class="ion-padding-start ion-padding-end">
      <ion-button class="round-corner-btn" color="main" (click)="selectPaymentOption()"  [disabled]="disableBtn">
        Next 
      </ion-button>
    </ion-toolbar>
  </ion-footer>