<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Device Age</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="ion-margin summary-wrap"  >
    <ion-row class="ion-text-center">
      <h2 class="summary-heading"> Let us know age of your device! </h2>
      <h5 class="summary-heading"> How much age of your device </h5>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="12" *ngFor="let age of ages" >
        <ion-label  class="ages_wrap">
          <input class="age_input" name="age" type="radio" (click)="setAge(age.id)" id="age_{{age.id}}" >
          <label class="age_label" for="age_{{age.id}}">
            <h6 >  {{age.age}}  </h6>
          </label> 
        </ion-label>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="ion-padding-start ion-padding-end">
    <ion-button class="round-corner-btn" color="main" (click)="saveCondition()" [disabled]="disableBtn">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
