.setting-outer {
    background: #c8e9df33;
    .account_options {
        box-shadow: 0px 1px 8px 1px rgb(204 212 229 / 54%);
        padding: 15px 20px;
        border-radius: 10px;
        margin: 0.9rem 0;
        background-color: #fff;
        .setting-icon {
            margin-right: 20px;
        }
        h6 {
            margin: 7px 0;
        }
    }
    ion-button{
        border-radius: 5px;
        ion-icon{
            color: #fff;
        }
    }
}


