<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <div class="setting-outer ion-padding" >
    <ion-row class="account_options ion-padding">
      <div class="setting-icon" >
        <img src="assets/icon/account.png" >
      </div>
      <h6> Personal Information </h6>
    </ion-row>

    <ion-row class="account_options ion-padding">
      <div class="setting-icon" >
        <img src="assets/icon/valid.png" >
      </div>
      <h6> Payment Methods </h6>
    </ion-row>

    <ion-row class="account_options ion-padding" [routerLink]="['/addresses']">
      <div class="setting-icon" >
        <img src="assets/icon/pin.png" >
      </div>
      <h6> Addresses </h6>
    </ion-row>

    <ion-row class="account_options ion-padding" [routerLink]="['/orders']">
      <div class="setting-icon" >
        <img src="assets/icon/shopping-cart.png" >
      </div>
      <h6> Pickups </h6>
    </ion-row>

    <ion-button class="round-corner-btn" color="main" (click)="logout()">
      Logout
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
