<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <div class="setting-outer ion-padding" >
    <ion-row class="account_options ion-padding" [routerLink]="['/profile']">
      <div class="setting-icon" >
        <img src="assets/icon/account.png" >
      </div>
      <h6> Personal Information </h6>
    </ion-row>

    <ion-row class="account_options ion-padding" [routerLink]="['/payments']">
      <div class="setting-icon" >
        <img src="assets/icon/valid.png" >
      </div>
      <h6> Payment Methods </h6>
    </ion-row>

    <ion-row class="account_options ion-padding" [routerLink]="['/addresses']">
      <div class="setting-icon" >
        <img src="assets/icon/pin.png" >
      </div>
      <h6> Addresses </h6>
    </ion-row>

    <ion-row class="account_options ion-padding" [routerLink]="['/orders']">
      <div class="setting-icon" >
        <img src="assets/icon/shopping-cart.png" >
      </div>
      <h6> Pickups </h6>
    </ion-row>
    <h6 class="ion-margin-start ion-margin-top"> Additional Menus  </h6>
    <ion-row class="account_options ion-padding" [routerLink]="['/about']">
      <div class="setting-icon" >
        <img src="assets/icon/about.png" >
      </div>
      <h6> About Us </h6>
    </ion-row>
    <ion-row class="account_options ion-padding" [routerLink]="['/help']">
      <div class="setting-icon" >
        <ion-icon name="alert-circle-outline"></ion-icon>
      </div>
      <h6> Help </h6>
    </ion-row>
    <ion-row class="account_options ion-padding" [routerLink]="['/privacy']">
      <div class="setting-icon" >
        <ion-icon name="warning-outline"></ion-icon>
      </div>
      <h6> Privacy Policy </h6>
    </ion-row>

    <ion-row class="account_options ion-padding" [routerLink]="['/term']">
      <div class="setting-icon" >
        <ion-icon name="document-outline"></ion-icon>
      </div>
      <h6> Terms & condition </h6>
    </ion-row>
    <ion-button class="round-corner-btn" color="main" (click)="logoutAlert()" *ngIf="hasUser">
      Logout
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
    <ion-button class="round-corner-btn" color="main" *ngIf="hasUser==''" [routerLink]="['/profile']">
      Login
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </div>
  <span class="ion-padding" style="font-size:8px;">Copyright 2021 © BikriWorld. All rights reserved.</span>
</ion-content>
