<ion-header>
  <ion-toolbar>
    <ion-title>Configuration Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="setting-outer ion-padding" >
    <h4> Select all device configurations</h4>
    <p size="small" style="font-size: 0.7em;"> Please choose all configurations of your Vehicle </p>
    <ion-list class="confiduration_options" *ngIf="configuration.year">
      <ion-item>
        <ion-label position="stacked"> Registration Year </ion-label>
        <ion-select placeholder="Select registration year of vehicle" class="custom-options" interface="action-sheet" (ionChange)="handleChange($event,'year')" >
          <ion-select-option *ngFor="let year of configuration.year" [value]="year" class="brown-option" >{{ year.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="confiduration_options">
      <ion-item>
        <ion-label position="stacked"> Kilometer Driven </ion-label>
        <ion-select placeholder="Select Kilometer Driven of vehicle" class="custom-options" interface="action-sheet" (ionChange)="handleChange($event,'km')" >
          <ion-select-option *ngFor="let km of configuration.km" [value]="km" class="brown-option" >{{ km.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="confiduration_options">
      <ion-item>
        <ion-label position="stacked"> Registration City </ion-label>
        <ion-input [(ngModel)]="city" placeholder="Select Registration City of vehicle" type="text" ></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="ion-padding-start ion-padding-end">
    <ion-button class="round-corner-btn" color="main" (click)="saveCondition()" [disabled]="disableBtn">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>