<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Infomation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="setting-outer ion-padding" >
    <ion-list class="input_outer_design">
      <ion-item>
        <ion-label position="stacked"> Full Name </ion-label>
        <ion-input [(ngModel)]="profile.name" type="text" (change)="validate()"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input_outer_design">
      <ion-item>
        <ion-label position="stacked"> Mobile Number </ion-label>
        <ion-input [(ngModel)]="profile.mobile" type="number" (change)="validate()" readonly="true" [disabled]="true"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input_outer_design">
      <ion-item>
        <ion-label position="stacked">Email Address </ion-label>
        <ion-input [(ngModel)]="profile.email" type="text" (change)="validate()"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input_outer_design">
      <ion-item>
        <ion-label position="floating">Alt Mobile No</ion-label>
        <ion-input [(ngModel)]="profile.alt_mobile" type="number" (change)="validate()"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="ion-padding-start ion-padding-end">
    <ion-button class="round-corner-btn" color="main" (click)="saveProfile()" [disabled]="disableBtn">
      Save Infomation
    </ion-button>
  </ion-toolbar>
</ion-footer>