<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>About BikriWorld</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-text color="main">
        <h3 class="title">We Buy. We Are Your One-Stop Solution For Selling Used Devices.</h3>
    </ion-text>
    <p class="description_content">
        We are BikriWorld an organization built of people committed to helping you find the best prices for your used devices. That is why we are. We exist because we buy.
    </p>
    <ion-row class="about_inner">
        <ion-col size="12" class="ion-margin-top ion-margin-bottom">
            <div class="icon">
                <img src="assets/icon/icon-tick.webp" alt="img" class="image-fit">
            </div>
            <div class="text">
                <h6 class="mb-2">Awesome Prices</h6>
                <p class="mb-0">Nothing but awesome prices all-around at BikriWorld.</p>
            </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-top ion-margin-bottom" >
            <div class="icon">
                <img src="assets/icon/icon-tick.webp" alt="img" class="image-fit">
            </div>
            <div class="text">
                <h6 class="mb-2">Transparent Selling</h6>
                <p class="mb-0">It’s as easy as counting. Sell your used device in one click.</p>
            </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-top ion-margin-bottom">
            <div class="icon">
                <img src="assets/icon/icon-tick.webp" alt="img" class="image-fit">
            </div>
            <div class="text">
                <h6 class="mb-2">All Devices</h6>
                <p class="mb-0">When we say all devices, we mean it. Sell any used device to us.</p>
            </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-top ion-margin-bottom">
            <div class="icon">
                <img src="assets/icon/icon-tick.webp" alt="img" class="image-fit">
            </div>
            <div class="text">
                <h6 class="mb-2">Full Protection</h6>
                <p class="mb-0">When you sell to us, we are committed to maintaining your safety.</p>
            </div>
        </ion-col>
    </ion-row>
    <ion-row class="stat">
        <ion-col size="12" class="">
            <div class="counter_box">
                <div class="icon">
                    <img src="assets/icon/people.png" alt="icon" class="image-fit">
                </div>
                <div class="text">
                    <div class="counter">
                        <h3> 369 </h3>
                    </div>
                    <p class="mb-0">Loving Customers</p>
                </div>
            </div>
        </ion-col>
        <ion-col size="12" class="" >
            <div class="counter_box">
                <div class="icon">
                    <img src="assets/icon/payment.png" alt="icon" class="image-fit">
                </div>
                <div class="text">
                    <div class="counter">
                        <h3> 264 </h3>
                    </div>
                    <p class="mb-0">Devices Sold</p>
                </div>
            </div>
        </ion-col>
        <ion-col size="12" class="">
            <div class="counter_box">
                <div class="icon">
                    <img src="assets/icon/handshake.png" alt="icon" class="image-fit">
                </div>
                <div class="text">
                    <div class="counter">
                        <h3> 259 </h3>
                    </div>
                    <p class="mb-0">Fulfillment Partners</p>
                </div>
            </div>
        </ion-col>
        <ion-col size="12" class="">
            <div class="counter_box">
                <div class="icon">
                    <img src="assets/icon/money.png" alt="icon" class="image-fit">
                </div>
                <div class="text">
                    <div class="counter">
                        <h3> 568 </h3>
                    </div>
                    <p class="mb-0">Cash Transactions</p>
                </div>
            </div>
        </ion-col>
    </ion-row>
    <ion-text color="main">
        <h4 class="title">WHAT MAKES BIKRIWORLD.</h4>
    </ion-text>
    <ion-text color="">
        <h4 class="title">BikriWorld ♥ Your Expectations & Your Used Devices</h4>
    </ion-text>
    <p class="description_content">
        We exist to buy used devices of all conditions. Furthermore, we exist because we know how hard it is to find a quote that matches your expectations. Here’s why you should sell your used device to us:- 
    </p>
    <ul class="about_list style_2 mb-xl-30">
        <li>
            Best Market Valuations
        </li>
        <li>
            Free Pickup at Desired Location
        </li>
        <li>
            100% Seller Protection
        </li>
    </ul>
</ion-content>
