<ion-content>
  <div *ngIf="checkVersion" class="update-version ion-padding-start ion-text-center" >
    <span class="version-text"> New version available </span>
    <a class="updateBtn" href="https://play.google.com/store/apps/details?id=com.bikriworld" > Update Now </a>
  </div>
  <div class="landing-header" >
    <div class="location ion-margin-start ion-padding-top" >
       <span class="ion-label"> City : </span> <span (click)="cityModal()"> {{selectCity}} <ion-icon name="chevron-down-outline"  style="vertical-align: middle;" size="medium"></ion-icon></span>
    </div>
    <ion-searchbar placeholder="Search your model here" animated [routerLink]="['/search']"></ion-searchbar>
  </div>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-row class="ion-padding banner-slide" style="background: #0f5132;">
        <ion-col size="7" >
          <h3> Sell Old Gadget </h3>
          <p> Simply Sell Old Gadgets For Cash At Your Door In 24 Hours.</p>
        </ion-col>
        <ion-col size="5" >
          <img src="assets/icon/banner_image-1.png" />
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row class="ion-padding banner-slide" style="background: #050313;">
        <ion-col size="7" >
          <h3> Fast Free Pickup </h3>
          <p> One click & get cash at your door in 24 Hours with free pickup.</p>
        </ion-col>
        <ion-col size="5" >
          <img src="assets/icon/banner_image-2.png" />
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row class="ion-padding banner-slide" style="background: #381f08;">
        <ion-col size="7" >
          <h3> Get Paid Instantly </h3>
          <p> In One Click & Get Cash in your Hand/Bank Account/GPay in 24 hours..</p>
        </ion-col>
        <ion-col size="5" >
          <img src="assets/icon/banner_image-3.png" />
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
  
  <h6 class="ion-margin-start"> Select Your Device For Sell </h6>
   <!-- List of Text Items -->
  <ion-row class="ion-text-center">
    <ion-col size="3" *ngFor="let category of categories | slice:0:3; let i=index" (click)="goToBrands(category.id)">
      <div class="category-grid" >
        <div class="image-wrap">
          <img src="assets/icon/{{category.icon}}.png" />
        </div>
        <ion-label>
          <h4 > Sell {{category.name }} </h4>
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="3"  (click)="gotoCategories()">
      <div class="category-grid" >
        <div class="image-wrap">
          <img src="assets/icon/more.png" />
        </div>
        <ion-label>
          <h4 > More... </h4>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <h6 class="ion-margin-start"> Top Selling Brands </h6>
  <ion-slides [options]="slideBrands">
    <ion-slide *ngFor="let brand of topSellingBrands" class="topbrandImage">
      <img src="{{mediaUrl}}{{ brand.image }}" />
    </ion-slide>
  </ion-slides>

  <h6 class="ion-margin-start"> Why People Choose BikriWorld? </h6>
  
  <section class="color-light ion-margin-top ion-padding-top">
    <div class="why_choose_us">
      <span slot="start" class="why_choose_img column-left">
        <ion-icon name="calculator-outline"  size="large"></ion-icon>
      </span>
      <div class="why_choose_content">
        <h2>100% Ensured Seller Protection.</h2>
        <p>When you sell old phones to us, we provide two things: Data Protection & Seller Paperwork. Your anonymity is ensured when you sell to us.</p>
      </div>
    </div>
    <div class="why_choose_us">
      <span slot="start" class="why_choose_img column-left">
        <ion-icon name="bag-outline"  size="large"></ion-icon>
      </span>
      <div class="why_choose_content">
        <h2>Mind-Blowing BuyBack Prices.</h2>
        <p>Apart from the cash on buying, we give the best market value prices for your used gadgets. Sell smartphones, TVs and Smartwatches at the best prices.</p>
      </div>
    </div>
    <div class="why_choose_us">
      <span slot="start" class="why_choose_img  column-left">
        <ion-icon name="finger-print-outline" size="large"></ion-icon>
      </span>
      <div class="why_choose_content">
        <h2>Lightning Fast Buying Process.</h2>
        <p>Sell your phones and laptops instantly. Once you confirm the pickup time and date, the wheels of the machine roll. Get cash on the spot in 24 hours.</p>
      </div>
    </div>
  </section>
  
  <h6 class="ion-margin-start"> Our Insights </h6>
  <ion-slides [options]="slideBlogs">
    <ion-slide *ngFor="let insight of insights" >
      <ion-card class="blog-content">
        <img src="{{baseUrl}}{{insight.image}}" />
        <ion-card-content>
          <ion-card-title>
            <h5 class="blog-title">
              {{insight.title}} 
            </h5>
          </ion-card-title>
          <ion-card-subtitle>
            <p class="blog-description">
              {{insight.short_description}} 
            </p>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <section class="color-light ion-margin-top">
    <h6 class="ion-margin-start"> Customers ❤ BikriWorld: <br> What Are They Saying? </h6>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <ion-card-header>
          <ion-card-title class="ion-text-left">
            <div class="img-avater">
              <img src="assets/icon/user.png" />
            </div>
            <div class="story_author">
              <h4>Abhishek Giri</h4>
              <p> Kolkata </p>
            </div>          
          </ion-card-title>          
          </ion-card-header>
          <ion-card-content>
            <div class="story_content">
              Best place to sell a phone for cash in a short time. Sold my phone to them in 2020. Got a very good deal. Timely Pickup. Quick Payment.
            </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
          <ion-card-title class="ion-text-left">
            <div class="img-avater">
              <img src="assets/icon/user.png" />
            </div>
            <div class="story_author">
              <h4>Arvind kr</h4>
              <p> Kolkata </p>
            </div>          
          </ion-card-title>          
          </ion-card-header>
          <ion-card-content>
            <div class="story_content">
              Upgraded to the iPhone 13, this year. Wasn’t getting good prices at all. I wondered about how to sell mobile phones so that I can get the best prices. Then I came across Bikri World. Got a very good price for my old One Plus Nord and my Mi Note 10.
            </div>         
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
          <ion-card-title class="ion-text-left">
            <div class="img-avater">
              <img src="assets/icon/user.png" />
            </div>
            <div class="story_author">
              <h4>Roushan Sharma</h4>
              <p> Kolkata </p>
            </div>          
          </ion-card-title>          
          </ion-card-header>
          <ion-card-content>
            <div class="story_content">
              Great experience when I went to sell my old phone online at BikriWorld. Got a very good deal on the price. Awesome pickup experience and good behaviour of customer service people.
            </div>         
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </section>

</ion-content>
