.sc-ion-searchbar-md-h {
    box-shadow: none;
    --box-shadow: none !important;
}
.landing-header {
    background: #cbe9eb;
}
.blog-content {
    text-align: left;
    h5.blog-title{
        font-size: 15px;
        margin-bottom: 1.5rem;
    }
}
.why_choose_us{
    .why_choose_img {
        justify-content: center;
        margin-right: 10px;
        display: flex;
    }
    .why_choose_content{
        font-size: 12px;
        display: table-cell;
        h2 {
            font-size: 15px;
            font-weight: 600;
            margin-top: 0;
        }
    }
}
.category-grid h4 {
    height: 34px;
}

.topbrandImage img{
    width: 60%;
}