.why_choose_us{
    .why_choose_img {
        justify-content: center;
        margin-right: 10px;
        display: flex;
    }
    .why_choose_content{
        font-size: 12px;
        display: table-cell;
        h2 {
            font-size: 15px;
            font-weight: 600;
            margin-top: 0;
        }
    }
}