<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Your Product" showCancelButton="focus" animated [routerLink]="['/search']"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="slideOpts">
    <ion-slide>
      <img src="https://bikriworld.com/assets/images/banner/mobile%20banner-1.png" />
    </ion-slide>
    <ion-slide>
      <img src="https://bikriworld.com/assets/images/banner/mobile%20banner-2.png" />
    </ion-slide>
    <ion-slide>
      <img src="https://bikriworld.com/assets/images/banner/mobile%20banner-3.png" />
    </ion-slide>
  </ion-slides>
  
  <h4 class="margin-10px-left"> Select Your Device For Sell </h4>
   <!-- List of Text Items -->
  <ion-row class="ion-text-center">
    <ion-col size="6" *ngFor="let category of categories" (click)="goToBrands(category.id)">
      <div class="category-grid" >
        <img src="https://bikriworld.com/assets/images/icons/{{category.icon}}.png" />
        <ion-label>
          <h2> Sell {{category.name }} </h2>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  
<section class="color-light">
  <h4 class="margin-10px-left"> Why People Choose BikriWorld? </h4>
  <div class="container" >
    <div class="why_choose_us">
      <span slot="start" class="why_choose_img column-left">
        <ion-icon name="checkmark-circle-outline"  size="large"></ion-icon>
      </span>
      <div class="why_choose_content">
        <h2>100% Ensured Seller Protection.</h2>
        <p>When you sell old phones to us, we provide two things: Data Protection & Seller Paperwork. Your anonymity is ensured when you sell to us.</p>
      </div>
    </div>
    <div class="why_choose_us">
      <span slot="start" class="why_choose_img column-left">
        <ion-icon name="checkmark-circle-outline"  size="large"></ion-icon>
      </span>
      <div class="why_choose_content">
        <h2>100% Ensured Seller Protection.</h2>
        <p>When you sell old phones to us, we provide two things: Data Protection & Seller Paperwork. Your anonymity is ensured when you sell to us.</p>
      </div>
    </div>
    <div class="why_choose_us">
      <span slot="start" class="why_choose_img  column-left">
        <ion-icon name="checkmark-circle-outline" size="large"></ion-icon>
      </span>
      <div class="why_choose_content">
        <h2>100% Ensured Seller Protection.</h2>
        <p>When you sell old phones to us, we provide two things: Data Protection & Seller Paperwork. Your anonymity is ensured when you sell to us.</p>
      </div>
    </div>
  </div>
</section>
<h4 class="margin-10px-left"> Our Stories </h4>
<ion-slides [options]="slideBlogs">
  <ion-slide>
    <ion-card>
      <img src="https://bikriworld.com/assets/images/banner/mobile%20banner-1.png" />
      <ion-card-content>
        <ion-card-title>Compute Price-Quote</ion-card-title>
        <ion-card-subtitle>
          Simply select your gadget & answer some questions about the current condition of your device.
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="https://bikriworld.com/assets/images/banner/mobile%20banner-2.png" />
      <ion-card-content>
        <ion-card-title>Choose PickUp Mode</ion-card-title>
        <ion-card-subtitle>Once you like the price, you can simply choose the When & Where! Get doorstep pickup from your home or work at a time slot that fits you.</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="https://bikriworld.com/assets/images/banner/mobile%20banner-3.png" />
      <ion-card-content>
        <ion-card-title>Get Cash On PickUp</ion-card-title>
        <ion-card-subtitle>Once our Bikri Wizard inputs the Secret Code, you get paid. </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

  <h4 class="margin-10px-left"> Customers ❤ BikriWorld: <br> What Are They Saying? </h4>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-avatar slot="start">
            <img src="https://dummyimage.com/100x100" />
          </ion-avatar>
          <ion-card-title>Akash Dutta</ion-card-title>
          <ion-card-subtitle>Akash Dutta</ion-card-subtitle>
          
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-avatar slot="start">
            <img src="https://dummyimage.com/100x100" />
          </ion-avatar>
          <ion-card-title>Akash Dutta</ion-card-title>
          <ion-card-subtitle>Akash Dutta</ion-card-subtitle>
         
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-avatar slot="start">
          <img src="https://dummyimage.com/100x100" />
        </ion-avatar>
        <ion-card-header>
          
          <ion-card-title>Akash Dutta</ion-card-title>
          <ion-card-subtitle>Akash Dutta</ion-card-subtitle>
          
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


</ion-content>
