.sc-ion-searchbar-md-h {
    box-shadow: none;
    --box-shadow: none !important;
}
.update-version {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .version-text {
        font-size: 10px;
        font-size: 11px;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
    .updateBtn{
        vertical-align: middle;
        background: #00986b;
        color: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 8px 15px;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer;
    }

}
.landing-header {
    background: #cbe9eb;
}
.banner-slide {
    text-align: left;
    color: #fff;
    margin: 8px;
    border-radius: 12px;
    padding-top: 5px;
    h3 {
        padding-top: 15px;
        margin-top: 0;
        font-size: 18px;
    }
    p {
        font-size: 11px;
    }
}
.image-wrap {
    img {
        width: 60%;
    }
}
.blog-content {
    text-align: left;
    h5.blog-title{
        font-size: 15px;
        margin-bottom: 1.5rem;
    }
}
.why_choose_us{
    .why_choose_img {
        justify-content: center;
        margin-right: 10px;
        display: flex;
        width: 20%;
    }
    .why_choose_content{
        display: table-cell;
        h2 {
            font-size: 15px;
            font-weight: 600;
            margin-top: 0;
        }
        p {
            font-size: 10px;
        }
    }
}
.category-grid {
    h4 {
        height: 12px;
        font-size: 8px;
        margin-top: 6px;
    }
    
}

.topbrandImage{
    img {
        width: 60%;
    }
    
}