<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Saved Addresses</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="end" name="home" size="large" [routerLink]="['/']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="main" fill="outline" expand="block" (click)="modalViewAddress()" *ngIf="addresses.length < 3"> 
    Add new Address
  </ion-button>
  <ion-row class="address_wraper" *ngFor="let address of addresses">
    <ion-col size="2">
      <img src="assets/icon/pin.png" >
    </ion-col>
    <ion-col size="10">
      <h5> {{address.address_1}}, {{address.city}} {{ address.state }}, {{ address.pincode }} </h5>
      <h5> Type : {{address.type}} </h5>
      <div class="options" >
        <ion-router-link color="primary" class="option" (click)="modalViewAddress(address.id)" >Edit</ion-router-link>
        <ion-router-link color="danger" class="option" (click)="confirmDelete(address.id)" >Delete</ion-router-link>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

