<ion-header>
  <ion-toolbar>
    <ion-title>UPI Details</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">UPI Id</ion-label>
    <ion-input [(ngModel)]="upi.upi_id" ></ion-input>
  </ion-item>
  <ion-button expand="block" size="medium" color="main" (click)="saveUpi()">Save UPI ID</ion-button>

</ion-content>
