<ion-header>
  <ion-toolbar>
    <ion-title>Reason for Cancellation</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="reason">
      <ion-list-header>
        <ion-label>Please tell us the reason</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Got better amount</ion-label>
        <ion-radio slot="start" color="main" value="Got better price"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Sold in offline store</ion-label>
        <ion-radio slot="start" color="main" value="Sold in offline store"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Gave to someone else</ion-label>
        <ion-radio slot="start" color="main" value="Gave to someone else"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Reschedule pickup date</ion-label>
        <ion-radio slot="start" color="main" value="Reschedule pickup date"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Does'nt got any response from Bikriworld</ion-label>
        <ion-radio slot="start" color="main" value="Does'nt got any response from Bikriworld"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Unable to provice required documents</ion-label>
        <ion-radio slot="start" color="main" value="Unable to provice required documents"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>EMI is not completed yet</ion-label>
        <ion-radio slot="start" color="main" value="EMI is not completed yet"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Feel insecure about Bikriworld!</ion-label>
        <ion-radio slot="start" color="main" value=">Feel insecure about Bikriworld!"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Not interested any more</ion-label>
        <ion-radio slot="start" color="main" value="Not interested any more"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Others!</ion-label>
        <ion-radio slot="start" color="main" value="Others!"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-textarea  color="main" placeholder="Leave your comment"></ion-textarea>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar style="padding: 0.5rem;">
    <ion-button class="round-corner-btn" color="main" (click)="alertModal()" >
      Confirm Cancellation  
    </ion-button>   
  </ion-toolbar>
</ion-footer>
