<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment Options</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="">
  <div class="setting-outer ion-padding" >
    <ion-row class="account_options ion-padding" (click)="openBankTransfar()">
      <div class="setting-icon" >
        <img src="assets/icon/valid.png" >
      </div>
      <h6> Bank Transfar </h6>
    </ion-row>

    <ion-row class="account_options ion-padding" (click)="openUpi()">
      <div class="setting-icon" >
        <img src="assets/icon/upi.png" >
      </div>
      <h6> UPI </h6>
    </ion-row>

    <ion-row class="account_options ion-padding" (click)="openMobileTransfar()">
      <div class="setting-icon" >
        <img src="assets/icon/mobile-payment.png" >
      </div>
      <h6> Mobile Transfar </h6>
    </ion-row>
  </div>
</ion-content>
