<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="payment_options">
    <ion-col size="2">
    </ion-col>
    <ion-col size="10">
      <h5> Bank Transfar </h5>
    </ion-col>
  </ion-row>
  <ion-row class="payment_options">
    <ion-col size="2">
      <img src="assets/icon/pin.png" >
    </ion-col>
    <ion-col size="10">
      <h5> UPI </h5>
    </ion-col>
  </ion-row>
  <ion-row class="payment_options">
    <ion-col size="2">
      <img src="assets/icon/pin.png" >
    </ion-col>
    <ion-col size="10">
      <h5> Mobile Number </h5>
    </ion-col>
  </ion-row>
</ion-content>
