<ion-header>
  <ion-toolbar>
    <ion-title>Mobile Number</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Mobile Number</ion-label>
    <ion-input [(ngModel)]="mobile.online_payment_no" ></ion-input>
  </ion-item>
  <ion-button expand="block" size="medium" color="main" (click)="saveMobile()">Save</ion-button>
</ion-content>