<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ product.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<div class="ion-margin summary-wrap" >
  <ion-row class="ion-text-center">
    <ion-col size="5">
      <div>
        <img src="https://bikriworld.com/administrator/public/images/{{ product.image }}" />      
      </div>
    </ion-col>
    <ion-col size="7">
      <ion-label>
        <h2> {{ product.name }} </h2>
      </ion-label>
      <ion-label  class="conditions_wrap" *ngFor="let variant of variants | keyvalue">
        <input class="condition_input" name="variant" type="radio" (click)="setVariant(variant.value)" id="condition_{{variant.value['price']}}" >
        <label class="condition_label" for="condition_{{variant.value['price']}}">
          <h6 > {{ variant.value['ram'] }} | {{ variant.value['storage'] }}  </h6>
        </label> 
      </ion-label>
      <!-- <div class="product-variation" >
        <ion-button class="variant" color="main" shape="round" fill="outline" *ngFor="let variant of variants | keyvalue" (click)="setVariant(variant.value)"> 
         {{ variant.value['ram'] }} | {{ variant.value['storage'] }}
        </ion-button>
      </div> -->
      <h4> Get Upto </h4>
      <h2 style="margin-top: 0;">  ₹ {{maxPrice}}/- </h2>
    </ion-col>
  </ion-row>
</div>
<div class="ion-text-center ion-padding">
  <div class="highlights" >
    <img src="https://bikriworld.com/assets/images/verified.png" />
    <ion-label>
      <h4 class="ion-margin-top"> Safe & Secure </h4>
    </ion-label>
  </div>
  <div class="highlights" >
    <img src="https://bikriworld.com/assets/images/pickup.png" />
    <ion-label>
      <h4 class="ion-margin-top"> Free Pickup </h4>
    </ion-label>
  </div>
  <div class="highlights" >
    <img src="https://bikriworld.com/assets/images/pay.png" />
    <ion-label>
      <h4 class="ion-margin-top"> Instant Payment </h4>
    </ion-label>
  </div>
</div>
<h4 class="ion-margin-start"> Frequently Ask Questions  </h4>
<ion-accordion-group class="ion-margin">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label class="ion-text-wrap">Where to sell my phone for the best price in India?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <p class="text-small" >
        There are a lot of online buyback platforms in India for sellers looking to sell old mobiles, but BikriWorld offers the best prices for all your old devices.
      </p>
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label class="ion-text-wrap">How can I sell my phone to get paid instantly?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <p class="text-small" >
        Sell your phone at BikriWorld, and get the best offers for your old mobile phone. Sell mobile phones, laptops and any unused devices for the best valuation possible, Check your device’s price today!       
      </p>                 
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label class="ion-text-wrap">Can I sell my phone online?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <p class="text-small" >
      Yes, you can sell your phone online. Also, yes, it’s completely risk free. All our purchases are made with proper invoices, and every device is scrubbed of all user information and data.
      </p>
    </div>
  </ion-accordion>
</ion-accordion-group>
