<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Physical Condition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="ion-margin summary-wrap"  >
    <ion-row class="ion-text-center">
      <h2 class="summary-heading"> Let us know Physical condition of your device!</h2>
      <h5 class="summary-heading"> Physical condition of your device </h5>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="12" *ngFor="let condition of conditions" >
        <ion-label  class="conditions_wrap">
          <input class="condition_input" name="condition" type="radio" (click)="setCondition(condition.id)" id="condition_{{condition.id}}" >
          <label class="condition_label" for="condition_{{condition.id}}">
            <h6 >  {{condition.condition}}  </h6>
            <div class="device-description" [innerHTML]="condition.description"></div>
          </label> 
        </ion-label>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="ion-padding-start ion-padding-end">
    <ion-button class="round-corner-btn" color="main" (click)="saveCondition()" [disabled]="disableBtn">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>