<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Selling Price</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin summary-wrap" >
    <ion-row class="">
      <ion-col size="5">
        <div>
          <img src="https://bikriworld.com/administrator/public/images/product/infinix_hot_10_play_logo_1652416050.jpg" />      
        </div>
      </ion-col>
      <ion-col size="7" class="ion-padding-start">
        <ion-label>
          <h2>  Infinix Hot 10 Play ( 3 GB | 32 GB  ) </h2>
          <p>The amount is based on the your device condition as you mentioned. </p>
        </ion-label>
        <h2 style="margin-top: 10px;">  ₹ 6290/- </h2>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
