<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Selling Price</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="end" name="home" size="large" [routerLink]="['/']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin summary-wrap" >
    <ion-row class="">
      <ion-col size="5">
        <div>
          <img src="https://bikriworld.com/administrator/public/images/product/infinix_hot_10_play_logo_1652416050.jpg" />      
        </div>
      </ion-col>
      <ion-col size="7" class="ion-padding-start">
        <ion-label>
          <h2>Infinix Hot 10 Play ( 3 GB | 32 GB  )</h2>
          <p>The amount is based on the your device condition as you mentioned. </p>
        </ion-label>
        <h2 style="margin-top: 10px;">  ₹ 6290/- </h2>
      </ion-col>
    </ion-row>   
  </div>
  <div class="ion-text-center summary-wrap">
    <div class="highlights" >
      <img src="https://bikriworld.com/assets/images/verified.png" />
      <ion-label>
        <h4 class="ion-margin-top"> Safe & Secure </h4>
      </ion-label>
    </div>
    <div class="highlights" >
      <img src="https://bikriworld.com/assets/images/pickup.png" />
      <ion-label>
        <h4 class="ion-margin-top"> Free Pickup </h4>
      </ion-label>
    </div>
    <div class="highlights" >
      <img src="https://bikriworld.com/assets/images/pay.png" />
      <ion-label>
        <h4 class="ion-margin-top"> Instant Payment </h4>
      </ion-label>
    </div>
  </div>
  <div class="sidebar style_3 ion-padding">                    
    <div class="sidebar_widget text-center">          
      <h5 class="widget_title">Price Summary</h5>                 
      <div class="sidebar_widget_inner">                                   
        <ul class="info_widget">
            <li>
                <span style="float:left;width: 49%;">Base Price</span>
                <span style="float:right">₹3,290/- </span>
            </li>
            <li>
                <span style="width: 49%;float:left">Pickup Charges</span>
                <span style="float:right;color:red;margin-right:20px">₹50/- Free</span>
            </li>
            <li>
                <span style="width: 49%;float:left">Total Amount</span>
                <span style="float:right">₹3,290/- </span>
            </li>
            
        </ul>
      </div>
    </div>
  </div>
  <h4 class="ion-margin-start"> Customers Reviews </h4>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header>
        <ion-card-title class="ion-text-left">
          <div class="img-avater">
            <img src="https://dummyimage.com/60x60" />
          </div>
          <div class="story_author">
            <h4>Abhishek Giri</h4>
            <p> Kolkata </p>
          </div>          
        </ion-card-title>          
        </ion-card-header>
        <ion-card-content>
          <div class="story_content">
            Best place to sell a phone for cash in a short time. Sold my phone to them in 2020. Got a very good deal. Timely Pickup. Quick Payment.
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
        <ion-card-title class="ion-text-left">
          <div class="img-avater">
            <img src="https://dummyimage.com/60x60" />
          </div>
          <div class="story_author">
            <h4>Arvind kr</h4>
            <p> Kolkata </p>
          </div>          
        </ion-card-title>          
        </ion-card-header>
        <ion-card-content>
          <div class="story_content">
            Upgraded to the iPhone 13, this year. Wasn’t getting good prices at all. I wondered about how to sell mobile phones so that I can get the best prices. Then I came across Bikri World. Got a very good price for my old One Plus Nord and my Mi Note 10.
          </div>         
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
        <ion-card-title class="ion-text-left">
          <div class="img-avater">
            <img src="https://dummyimage.com/60x60" />
          </div>
          <div class="story_author">
            <h4>Roushan Sharma</h4>
            <p> Kolkata </p>
          </div>          
        </ion-card-title>          
        </ion-card-header>
        <ion-card-content>
          <div class="story_content">
            Great experience when I went to sell my old phone online at BikriWorld. Got a very good deal on the price. Awesome pickup experience and good behaviour of customer service people.
          </div>         
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="ion-padding-start ion-padding-end">
    <ion-button class="round-corner-btn" color="main" (click)="goToSelectAddress()">
      Sell Now
    </ion-button>
  </ion-toolbar>
</ion-footer>