<ion-header>
  <ion-toolbar>
    <ion-title>Select City</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="setting-outer ion-padding" >
    <h5> Select city to sell your Old Device </h5> 
    <h6>Popular Cities</h6>
    <ion-row class="ion-text-center">
      <ion-col size="4" (click)="selectCity('Mumbai')">
        <div class="category-grid">
          <img src="https://bikriworld.com/assets/images/Mumbai.png" />
          <ion-label>
            <h2 class="product_label"> Mumbai </h2>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="4" (click)="selectCity('Delhi')">
        <div class="category-grid">
          <img src="https://bikriworld.com/assets/images/Delhi.png" />
          <ion-label>
            <h2 class="product_label"> Delhi </h2>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="4" (click)="selectCity('Bengaluru')">
        <div class="category-grid">
          <img src="https://bikriworld.com/assets/images/Bangalore.png" />
          <ion-label>
            <h2 class="product_label"> Bengaluru </h2>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="4" (click)="selectCity('Chennai')">
        <div class="category-grid">
          <img src="https://bikriworld.com/assets/images/Chennai.png" />
          <ion-label>
            <h2 class="product_label"> Chennai </h2>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="4" (click)="selectCity('Kolkata')">
        <div class="category-grid">
          <img src="https://bikriworld.com/assets/images/Kolkata.png" />
          <ion-label>
            <h2 class="product_label"> Kolkata </h2>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="4" (click)="selectCity('Pune')">
        <div class="category-grid">
          <img src="https://bikriworld.com/assets/images/Pune.png" />
          <ion-label>
            <h2 class="product_label"> Pune </h2>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-list class="confiduration_options">
      <ion-item>
        <ion-label position="stacked"> Search by name of your city </ion-label>
        <ion-input type="text" (click)="gotoSearch($event)" ></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
